.c-sliding-panels {
    $class: c-sliding-panels;

    &__content {
        @include content-width;
    }

    &__nav {
        margin: 0 0 $space-s !important;
        text-align: center;

        .is-active {
            background-color: $color-1;
        }
    }

    &__button {
        @include button-styles;
        margin-bottom: $space-s;
        margin-right: $space-s;
        color: $white;
        background-color: $black;

        &--circle {
            width: 46px;
            border-radius: 50%;
            overflow: hidden;
            text-indent: 46px;
            background: {
                position: center;
                size: 70%;
                repeat: no-repeat;
            }
        }

        &--next {
            float: left;
            background-image: url('../img/arrow-left.svg');
        }

        &--previous {
            float: right;
            background-image: url('../img/arrow-right.svg');
        }

        &:hover {
            background-color: $black-light;
        }

        &:disabled {
            background-color: $color-grey-mid;
            border-color: $color-grey-mid;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__panels-holder {
        width: 100%;
        height: 0;
        padding: 0 !important;
        position: relative;
        overflow: hidden;
        transition: height .35s ease-in-out;
    }

    &__panels-tray {
        @include clearfix;
        transition: {
            property: transform;
            timing-function: ease-in-out;
        }

        &.no-transition {
            transition: none;
        }
    }

    &__panel {
        padding-bottom: $space-xs;
        float: left;
    }
}
